* .btn {
  background-color: #D8344A;
  color: white;
} 

tbody:nth-child(even) {
  background-color: rgb(126, 169, 204);
}



body, html {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;
}


#header {
    background-color: #7fb3ef;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #316270; 
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

 p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
/*
.instructions  h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}
/