<!-- this is the view the user sees when "Add a Health Care Practitioner" is clicked while in the user.html view -->
<div class="container-fluid">
<div id="header" class="col-lg-12">
   
   <h2>Add a Health Care Practitioner</h2>

<div>
  <form>
    <div>
        <label for="name">Name</label>
        <input type="text" ng-model="dc.doctorObject.name" /> 
    </div>
    
    <div>
        <label for="Specialty">Specialty/Type</label>
        <input type="text" ng-model="dc.doctorObject.specialty" />
    </div>

    <div>
        <label for="location">Location</label>
        <input type="text" ng-model="dc.doctorObject.location" />    
    </div>

    <div>
        <label for="phone">Phone</label>
        <input type="text" ng-model="dc.doctorObject.phone"  />
    </div>

    <div>
        <button class="btn" ng-click="dc.addDoctor(dc.doctorObject)">Add Health Care Practitioner</button>
        <a href="#user"><button class="btn">Cancel</button></a>
    </div>
</div>
</div>            