<!-- this is the landing view, what the user sees when the website URL is entered in the address bar (AKA the Home page)  using the path: (URL) '/home'  -->
<div class="jumbotron">
    <div id="header">
        <div class="row">
            <div class="col-lg-8">
                <div>
                    <h1>Welcome to My My Medi-Tracker</h1>
                    <h2>The Place to Your Health History</h2>
                </div>
                <form ng-submit="lc.login()">
                    <div class="userbox">
                        <label for="username">Username:</label>
                        <input type="text" ng-model="lc.user.username" />
                    </div>
                    <div class="pwbox">
                        <label for="password">Password:</label>
                        <input type="password" ng-model="lc.user.password" />
                    </div>

                    <div>
                        </br>
                        <input class="btn btn-danger" type="submit" name="submit" value="Log In" />
                        </br>
                        <a href="#register">
                            <h4 class="register">Not a Member? Register Here!</h4>
                        </a>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <img class="resize img-responsive img-circle" src="https://www.maxhealthcare.in/sites/default/files/blogs/top_banner/2016/Feb/04/stethoscope_1.jpg"
                    alt="heart">
            </div>
        </div>

        <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">
            <!-- if the user tries to login and isn't a registered user, an alert message pops up - {{lc.message}} -->
            {{lc.message}}</h1>

    </div>
</div>
<div>
    <img class="img-responsive" style="width: 100%;" src="http://www.birmingham.ac.uk/Images/College-MDS-only/facilities/cpd/1250x394/minimed1250x394.jpg">

</div>