<!-- this is the view the user sees when "Add a Medication" is clicked while in the user.html view -->
<div>
    <div id="header" class="col-lg-12">
     <img src=https://www.walgreens.com/images/adaptive/share/images/retail-mail-service-img.jpg>

    <h2>Add a Medication</h2>
<div>
    <form>
        <div>
            <label for="medication">Medication</label>
            <input type="text" ng-model="mc.medObject.medication" /> 
        </div>
        
        <div>
            <label for="dose">Dose</label>
            <input type="text" ng-model="mc.medObject.dose" />    
        </div>

        <div>
            <h4>Frequency</h4>
                <select ng-model="mc.medObject.frequency">
                    <option value="qday">qday</option>
                    <option value="bid">bid</option>
                    <option value="tid">tid</option>
                    <option value="qid">qid</option>
                    <option value="qod">qod</option>
                    <option value="prn">prn</option>
                    <option value="other">other</option>
                </select>
        </div>

        <div>
            <label for="prescriber">Prescriber</label>
            <input type="text" ng-model="mc.medObject.prescriber" />
        </div>

        <div>
            <label for="StartDate">Start Date</label>
            <input type="date" data-date-format="MM/DD/YYYY" ng-model="mc.medObject.startDate"/>
        </div>
        
        <div>
            <label for="notes">Notes</label>
            <input type="notes" ng-model="mc.medObject.notes" />
        </div>
        <div>
            <button class="btn btn-sm" ng-click="mc.MedService.addMed(mc.medObject)">Add Medication</button>
            <a href="#user"><button class="btn btn-sm">Cancel</button></a>
        </div>
    </form>
</div>
</div>            
