<!-- this is where a new visitor will register as a user -->
<div id="header" class="container" class="col-lg-12">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqRIB5QWcXb7K_Z5WZ3CDUerUBquc05kJDUh_u_ibBh1978TGu">
    <h1>Welcome to My Family Medical Tracker</h1>
    <h1>Create an Account</h1>
</div>
<div class="container">
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
  <form ng-submit="lc.registerUser()">
    <div>
        <label for="username">Enter your email (this will be your username)</label>
        <input type="text" ng-model="lc.user.username" />
    </div>
    <div>
        <label for="password">Choose a Passwword:</label>
        <input type="password" ng-model="lc.user.password" />
    </div>
    <div>
        <label for="FirstName">First Name:</label>
        <input type="text" ng-model="lc.user.firstname" />
    </div>
    <div>
        <label for="LastName">Last Name:</label>
        <input type="text" ng-model="lc.user.lastname" />
    <div>
        <label for="DOB">Date of Birth:</label>
        <input type="date" ng-model="lc.user.dateOfBirth"  />
    </div>
    <button class="btn btn-default" ng-click="lc.sendMail()">Create Account</button>
   
    <a href="#home">Cancel</a>
    
  </form>
  
</div>

<!-- look up how to include two functions in an ng-click -->